
.nav{
    border: 1px solid black;
    color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    margin: 0.5em auto;
    width: 90vw;
    height: 3vh;
}
.ontop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1;
}
.onbottom{
    transform: translate(0.5%, 10%);
}
.nav a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.nav a:hover{
    color: #ccc;
}
.nav ul{
    display: flex;
    list-style: none;
}
.nav ul li{
    margin-left: 20px;
}
