*{
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav{
  border: 1px solid black;
  color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  margin: 0.5em auto;
  width: 80vw;
  height: 3vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}
.ontop{
  
  z-index: 1;
}
.onbottom{
  transform: translate(0.5%, 10%);
}
.nav a{
  color: black;
  text-decoration: none;
  font-size: 20px;
}
.nav a:hover{
  color: #ccc;
}
.nav ul{
  display: flex;
  list-style: none;
}
.nav ul li{
  margin-left: 20px;
}
/* main section*/
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #ccc;
}
.burger{
  display: none;
}

@media screen and (max-width: 600px) {
  .nav{
    width: 90vw;
  }
  .burger{
    display: block;
  }
  .show{
    display: b;
  }
  .hide{
    display: none;
  }
  .nav ul{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    background-color: white;
    margin-top: 150px;
    border: 1px solid black;
  }
  .nav ul{
    display: none;
  }
  
  .nav ul li{
    margin:0;
  }
}