*{
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.burger{
  display: none;
}

@media screen and (max-width: 600px) {
  .nav{
    width: 95vw;
  }
  .burger{
    display: block;
    z-index: 2;
  }
  .nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 1;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    
  }
  .slideIn{
    transition: transform 0.5s ease-in;
    transform: translateY(0%);
  }
  @keyframes sladein {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .nav ul li{
    margin: 0.5em 0;
  }
}