@import url('https://fonts.googleapis.com/css2?family=Silkscreen');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono');
*{
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
body {
  margin: 0;
  font-family: 'DM Mono',  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav{
  border: 2px solid black;
  color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  margin: 0.5em auto;
  width: 80vw;
  height: 3vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}
.ontop{
  
  z-index: 2;
}
.onbottom{
  z-index: 1;
  transform: translate(6px, 6px);
}
.logo{
  font-family: 'Silkscreen';
  color: black;
  text-decoration: none;
}
.nav a{
  color: black;
  text-decoration: none;
  font-size: 15px;
}
.nav a:hover{
  color: #ccc;
}
.nav ul{
  display: flex;
  list-style: none;
}
.nav ul li{
  margin-left: 20px;
}
.burger{
  display: none;
}
/* main section START*/
.main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 93vh;
  width: 100vw;
  margin-top: 7vh;
}
/* The Aside section START*/
.left{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 100%;
  border-right: 2px solid black;
}
/* The Aside section END*/
/* The main content START*/
.right{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.post{
  width: 30em;
  height: 20em;
  border: 2px solid black;
  background-color: white;
}
.posttext{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 100%;
  margin: 1em;
}
.toppost{
  position: relative;
  top: -6px;
  left: -6px;
}
.bottompost{
  margin-top: 2em;
  position: relative;
}
/* The main content END*/
/* main section END*/
.footer{
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 100vw;
  background-color: #ccc;
}





/*Tablet Stuff*/ 
@media screen and (max-width: 900px) {
  .left{
    display: none;
  }
  .right{
    width: 100vw;
  }
  .footer{
    display: flex;
  }
}

/*Phone Stuff*/
@media screen and (max-width: 600px) {
  .nav{
    width: 90vw;
  }
  .burger{
    display: block;
  }
  .nav ul{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    background-color: white;
    margin-top: 150px;
    border: 2px solid black;
  }
  .nav ul{
    display: none;
  }
  
  .nav ul li{
    margin:0;
  }
  .main{
    height: auto;
  }
  .right{
    overflow-y: hidden;
    height: auto;
  }
  .post{
    width: 90vw;
  }
}
